<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httppPlatformHandler" path="*" verb="*" 
                 modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>      
        <httpPlatform processPath="%JAVA_HOME%\bin\java.exe" 
                  arguments="-Djava.net.preferIPv4Stack=true -jar &quot;d:\home\site\wwwroot\azure_template.jar&quot; %HTTP_PLATFORM_PORT%"
                  startupTimeLimit="30">
            <environmentVariables>
                <!-- <environmentVariable name="foo" value="bar" /> -->
            </environmentVariables>            
        </httpPlatform>
    </system.webServer>
</configuration>
